{{define "base"}} 
<!doctype html> 
<html lang='en'> 
    <head> 
        <meta charset='utf-8'> 
        <title>{{template "title" .}} - Gisty</title> 
        <link rel='stylesheet' href="/static/css/main.css"> 
        <link rel='shortcut icon' href='/static/img/favicon.ico' type="image/x-icon" />
    </head> 
<body> 
    <header> 
        <h1><a href='/'>Gisty</a></h1> 
    </header> 
    <nav> 
        <a href="/">Home</a> 
        <a href='/gist/create'>Create gist</a> 
    </nav> 
    <section> 
        {{template "body" .}} 
    </section> 
    {{template "footer" .}} 
    <script src="/static/js/main.js" type="text/javascript"></script> 
    </body> 
</html> 
{{end}}