{{template "base" .}} 

{{define "title"}}Gist #{{.Gist.ID}}{{end}} 

{{define "body"}} 
<div class='gist'> 
    <div class='metadata'> 
        <strong>{{.Gist.Title}}</strong> 
        <span>#{{.Gist.ID}}</span> 
    </div> 
    <pre><code>{{.Gist.Content}}</code></pre> 
    <div class='metadata'> 
        <time>Created: {{.Gist.Created}}</time> 
        <time>Expires: {{.Gist.Expires}}</time> 
    </div> 
</div> 
{{end}} 